* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  background-color: black;
  height: 100%;
  width: 100%;

}

.parent {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img {
  width: 50px;
  height: 30px;
  border-radius: 50%;
  padding: 4px;
}

.top button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #dadada;
  padding: 7px 10px;
  border-radius: 8px;
  background-color: transparent;
  color: #777;
  cursor: pointer;
}

.center {
  margin-top: 20px;
}

.center h3 {
  font-size: 16px;
  color: black;

}

.center h3 span {
  font-size: 10px;
  color: #151515;
  font-weight: 500;
  margin-left: 5px;
}

.center h2 {
  font-size: 20px;
  margin-top: 5px;
  color: black;
}

.center .tag {
  display: flex;
  gap: 6px;
  margin-top: 8px;
}

.center .tag h4 {
  font-size: 13px;
  border: 1px solid #dadada;
  border-radius: 5px;
  padding: 4px 6px;
  color: #8b8686;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dadada;
  padding-top: 10px;
}

.bottom h3 {
  font-size: 18px;
}

.bottom p {
  font-size: 12px;
  color: #777;
}

.apply {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.apply:hover {
  background-color: #333;
}
